#searchDisplay {
  list-style: none;
}

.header {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  margin-top: .5em;
  font-size: 8em;
  text-shadow: 2px 2px #ec9787;

}

.meetUpHeader {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  margin-top: .5em;
  font-size: 3em;
  text-shadow: 2px 2px #ec9787;

}

.list-group {
  padding-left: 1em;
  list-style: none;
}

li {
  padding: .25em;
}

.container {
  font-family: 'Josefin Sans', sans-serif;
  background-color: rgb(240,237,229, .7);
  margin-top: .5em;
  padding: 3em;

}

.body {
  height: 100%;
  background-color: rgb(240,237,229, 0);
}

html {
  min-height: 100%;
}
body {
 background-image: url('https://media.giphy.com/media/3GaLeo9VmHGSs/giphy.gif');
 -webkit-background-size: cover;
 min-height: 100%;
 overflow: scroll;
  background-attachment:fixed;

}

.langLabelJS {
  margin-top: 1.5em;
  font-size: 4em;
  text-shadow: 2px 2px #6ca0dc;
}


.langLabelCSharp {
  margin-top: 1.5em;
  font-size: 4em;
  text-shadow: 2px 2px #ec9787;
}

.langLabelHTML {
  margin-top: 1.5em;
  font-size: 4em;
  text-shadow: 2px 2px #bc6ca7;
}


.langLabelCSS {
  margin-top: 1.5em;
  font-size: 4em;
  text-shadow: 2px 2px #00a68c
}

.langLabelAndroid {
  margin-top: 1.5em;
  font-size: 4em;
  text-shadow: 2px 2px #bfd833;
}


.langLabelRuby {
  margin-top: 1.5em;
  font-size: 4em;
  text-shadow: 2px 2px #e34132 ;
}

.fullListDisplay {
  font-size: 10em;
}
